<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <!--Proyecto de Mercado Liebre-->

  <body>
      <header class="main-header">
        <div class="main-header-top-bar">
          <div class="logo__barra">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" class="header__logo" /></a>
            <div class="barra__busqueda">
            </i><input type="search" placeholder="Buscar productos, marcas"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <h2 class="copy__header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>

        <a href="#" class="hamburguer-button"
          ><i class="fa-solid fa-bars"></i
        ></a>
        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>

          <ul class="right-navbar">
            <li>
              <a href="/register"
                >Creá tu cuenta<i class="fa-regular fa-address-card"></i></i
              ></a>
            </li>
            <li>
              <a href="/login"
                >Ingresá<i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="#"
                >Mis compras<i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="contenedor_banner">
        <img src="/img/img-home-banner.jpg" class="banner__img">
      </div>
    <main class="body__main">
      
      <h2 class="card__title">Basado en tu última visita</h2>
      
      <section class="body__main-visitas">

          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-cafetera-moulinex.jpg"
                alt="Cafetera"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$6.770</p>
                  <p class="card__discount">40% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  Cafetera Moulinex
                </p>
              </div>
            </div>
          </article>
          <article class="productos"> 
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-macbook-pro-2019.jpg"
                alt="Macbook"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$230.000</p>
                  <p class="card__discount">20% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  MacBook Pro 2019
                </p>
              </div>
            </div>
          </article>

          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-samsung-galaxy-s10.jpg"
                alt="Samsung"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$70.500</p>
                  <p class="card__discount">10% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  Samsung Galazy s10
                </p>
              </div>
            </div>

          </article>
          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-tv-samsung-smart.jpg"
                alt="TvSamsung"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$23.200</p>
                  <p class="card__discount">5% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  SmartTv Samsung 23"
                </p>
              </div>
            </div>
          </article>

      </section>

      <h2 class="card__title">Ofertas</h2>
      <section class="body__main-ofertas">
    
          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-cafetera-moulinex.jpg"
                alt="Cafetera"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$6.770</p>
                  <p class="card__discount">40% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  Cafetera Moulinex
                </p>
              </div>
            </div>
          </article>
          <article class="productos"> 
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-macbook-pro-2019.jpg"
                alt="Macbook"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$230.000</p>
                  <p class="card__discount">20% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  MacBook Pro 2019
                </p>
              </div>
            </div>
          </article>
          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-samsung-galaxy-s10.jpg"
                alt="Samsung"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$70.500</p>
                  <p class="card__discount">10% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  Samsung Galazy s10
                </p>
              </div>
            </div>
          </article>
          <article class="productos">
            <div class="producto">
              <div class="image__container">
                <img
                src="./img/img-tv-samsung-smart.jpg"
                alt="TvSamsung"
              />
              </div>
              <div class="card__info">
                <i class="fa-solid fa-truck"></i>
                <div class="card__info-container">
                  <p class="card__price">$23.200</p>
                  <p class="card__discount">5% OFF</p>
                </div>
                <br>
                <p class="card__description">
                  SmartTv Samsung 23"
                </p>
              </div>
            </div>
          </article>

      </section>
    </main>
    <footer>
      <div class="footer__container">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footer__container">
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
          de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footer__container">
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
