<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="register__body">
    <header>
      <div class="logo__container-register">
        <a href="/"
          ><img src="/img/logo-mercado-liebre.svg" class="img__logo-register"
        /></a>
        <i class="fa-regular fa-circle-question"></i>
      </div>
    </header>
    <section class="formulario-registro">
      <h4 class="encabezado-registro">Registrate</h4>
      <input
        class="controles"
        type="text"
        name="nombres"
        id="nombres"
        placeholder="Ingrese su nombre"
      />
      <input
        class="controles"
        type="text"
        name="apellidos"
        id="apellidos"
        placeholder="Ingrese su apellido"
      />
      <input
        class="controles"
        type="email"
        name="email"
        id="email"
        placeholder="Ingrese su email"
      />
      <input
        class="controles"
        type="password"
        name="contraseña"
        id="contraseña"
        placeholder="Ingrese su contraseña"
      />
      <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
      <a href="/"
        ><button class="button-submit" type="submit" value="Registrar">
          Registrar
        </button></a
      >
      <p><a href="/">¿Ya tengo cuenta?</a></p>
    </section>

    <footer>
      <p>
        Usamos cookies para mejorar tu experiencia en Mercado Libre. Consultar
        más en nuestro <a href="#">Centro de Privacidad.</a>
      </p>
    </footer>
  </body>
</html>
