/*----------SECCION LOGIN----------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}

.logo__container-login {
    background-color: #FFF159;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__barra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__barra i {
    flex-grow: 0.5;
}

.barra__busqueda {
    border-radius: 4px;
    border-color: #737272;
    height: 30px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

.main-header {
    background-color: #FFF159;
    padding: 20px;
}

.main-header-top-bar {
    display: flex;
}
.logo__barra i {
    flex-grow: 0.5;
}


.header__logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}


.hamburguer-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


.formulario-login {
    width: 600px;
    background-color: #E1E0E0;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #b2b0b0;
}

.encabezado-login {
    font-size: 26px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E1E0E0;
    font-size: 18px;
}

/* .button {
    width: 100%;
    background-color: #04356a;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
    border-radius: 4px;
} */


.button {
    padding: 10px 20px;
    background-color: #0c60ba;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button:hover {
    background-color: #04356a;
  }
  .button:active {
    background-color: #04356a;
  }


/*----------MEDIA QUERIES----------*/

@media (min-width: 769px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
}
}

@media (min-width: 1200px) {
    .header__logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }

}